
{% load static %}

<svg id="graph2" width=900>
    <g/>
</svg>

<script>


document.addEventListener("DOMContentLoaded", function(event) { 
    var G = {{ fullgraph | safe }};
    // Reload when tab change
    document.getElementById('admintab3')
        .addEventListener("change", function(e){
            make_graph(G, "graph2")
        });
    
    // Reload when page reload (on filtering...)
    var isChecked= document.getElementById('admintab3').checked;
    if(isChecked)
    {
        make_graph(G, "graph2")
    }
});
</script>




